<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <h1>Create a Basketball team!</h1>
    <form>
      Team name:<input type='text' name='name'><br>
    </form>
 </body>
</html>


